@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");

// Color system
$orange: #ffa255 !default; // custom
$teal: #339999 !default; // custom

$primary: #ff5555 !default; // custom
$info: $teal !default; // custom
$dark: #333 !default; // custom
$base: #f5f2f2 !default; // custom

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "base": $base,
  ),
  $theme-colors
);

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.v-max {
  height: 100vh;
  overflow-y: hidden;
}

h1,
.nav-item {
  font-family: "Alegreya", serif;
}

nav {
  .navbar-nav {
    .nav-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      &.active {
        font-weight: bold;
      }
    }
  }
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-format {
  white-space: pre-wrap;
}

.hero {
  .hero-text {
    height: 83vh;
    padding: 0 30px;
    .hero-bg {
      height: 72vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .hero-title {
        .hero-h1 {
          line-height: 100%;
        }
      }
    }
  }
  .plate-1 {
    right: -50px;
    margin-top: 20vh;
  }
  .plate-2 {
    left: -50px;
    margin-top: 18px;
  }
  .hero-icon {
    bottom: 0px;
    // margin-left: 0;
    margin-bottom: 1vh;
  }
}

.content-base {
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    padding-top: 1rem;
  }
  margin-top: -15vh;
  padding-top: 15vh;
  .item-list {
    .row {
      .card {
        &.d-lg-none {
          border: none;
          border-radius: 0px 30px;
          height: 100%;
          padding: 0 15px;
          padding-top: 10px;
          .card-body {
            padding: 0px;
            padding-bottom: 10px;
          }
        }
        &.d-lg-block {
          border: none;
          margin-top: 6rem;
          border-radius: 0px 50px;
          height: 63%;
          padding: 0 15px;
          img {
            margin-top: -6rem;
          }
          h4 {
            margin-top: 1rem;
          }
          .card-img-top {
            height: auto;
            width: 80%;
          }
          .card-body {
            margin-top: -1rem;
            padding: 0px;
            padding-bottom: 10px;
          }
          .card-text {
            font-weight: lighter;
          }
        }
      }
    }
  }
}

.about {
  @media only screen and (max-width: 768px) {
    height: 100%;
  }
  height: 100vh;
  overflow-y: hidden;
  padding-right: 0;
  padding-left: 0;
  .space-base {
    height: 20vh;
    padding: 0;
  }
  .about-margin {
    @media only screen and (max-width: 768px) {
      margin-top: 0rem;
      height: 50vh;
    }
    margin-top: -5rem;
    height: 80vh;
    .about-title {
      white-space: pre-wrap;
    }
    .hero-about {
      width: 445px;
    }
    .about-1 {
      // bottom: 0;
      // left: 0;
      // margin-bottom: 5rem; */
      margin-top: 20vh;
      margin-left: -26vh;
    }
    .about-3 {
      // bottom: 0;
      // right: 0;
      // margin-bottom: 8rem; */
      margin-top: -10vh;
      margin-left: 30vh;
    }
    .about-big {
      filter: blur(0px);
      &:hover {
        filter: blur(0px);
      }
    }
  }
}

.content-bottom {
  height: 100vh;
  overflow-y: hidden;
  @media only screen and (max-width: 768px) {
    margin-top: 4rem;
    margin-bottom: 3rem;
    height: auto;
  }
}

.review {
  @media only screen and (max-width: 768px) {
    height: auto;
    margin-bottom: 3rem;
  }
  height: 75%;
}

.footer {
  @media only screen and (max-width: 768px) {
    height: auto;
    padding-top: 3rem;
  }
  height: 25%;
}

.content-menu {
  margin-top: -65vh;
  padding: 10vh 0;
  .row {
    .card {
      &.d-lg-none {
        border: none;
        border-radius: 0px 30px;
        height: 100%;
        padding: 0 15px;
        padding-top: 10px;
        .card-text {
          font-weight: lighter;
        }
        .card-body {
          padding: 0;
          padding-bottom: 10px;
        }
      }
      &.d-lg-block {
        border: none;
        margin-top: 6rem;
        border-radius: 0px 50px;
        height: 70%;
        padding: 0 15px;
        img {
          margin-top: -6rem;
        }
        h4 {
          margin-top: 1rem;
        }
        .card-img-top {
          height: auto;
          width: 80%;
        }
        .card-body {
          margin-top: -1rem;
          padding: 0;
          padding-bottom: 10px;
        }
        .card-text {
          font-weight: lighter;
        }
      }
    }
  }
}

.content-gallery {
  margin-top: -65vh;
  padding: 10vh 0;
}

.content-about {
  margin-top: -65vh;
  padding: 10vh 0;
  img {
    margin-bottom: 15px;
  }
}

.content-book {
  margin-top: -65vh;
  padding: 10vh 0;
}

@import "~bootstrap/scss/bootstrap.scss";
